<style>
  .container {
    padding-left: 50px;
  }
  h2 {
    padding-left: 50px;
  }
</style>
<br />
<br />
<h2>This is a todo list</h2>
<div class="container">
  <button mat-flat-button color="accent" (click)="showtitle()">
    Show Todo
  </button>
  <br /><br />

  <div *ngIf="show">
    <input matInput type="search" placeholder="enter Item here" #id />
    &nbsp;
    <button mat-flat-button color="primary" (click)="addData(id.value)">
      Add
    </button>
  </div>
  &nbsp; &nbsp;
</div>
<br />
<br />

<div class="container">
  <ul *ngFor="let items of array">
    <li>
      {{ items.name }} &nbsp;
      <button mat-flat-button color="warn" (click)="deleteData(items.id)">
        Remove
      </button>
    </li>
  </ul>
</div>

<h2>Send data from parent to child</h2>

<h2>
  {{ childData }}
</h2>
<div class="container">

  <button mat-flat-button color="primary" (click)="updaterandom()">
    update random number
  </button>
</div> 

<ul *ngFor="let user of userdetails">
  <app-child [reuseable]="user"></app-child>
</ul>

<h2>child to parent</h2>

<br />
<br />


<h2>two way binding</h2>
<input type="text" [(ngModel)]="user" />
<h2>{{ user }}</h2>


